
<div class="productos">
    <div class="recomendaciones">
        <img class="recomendaciones-img" src="assets/imagenes/perrofeliz.png" alt="Sintomas de un perro feliz. Postura relajada. Mueve la cola. Es curioso. Tiene ganas de moverse y jugar. Entrecierra los ojos cuando lo acaricias.">
    </div>  
        <div>
        
            <div class="info">
                <h2>NOTICIAS</h2>
                <br>
                <ul class="info-lista">
                    <li class="info-lista-item">
                        <img class="cine-img" src="assets/imagenes/cine.webp" alt="Perros en el cine">
                        <br>
                        <a href="https://www.lanacion.com.ar/lifestyle/cine-para-perros-como-fue-la-primera-funcion-pet-friendly-en-sudamerica-nid03082022/" class="info-lista_item-link">
                            Cine para Perros en Argentina. ¿Cómo fue la primera función?
                        </a>
                    </li>    
                </ul>
            </div>

            <div class="busqueda">
                <h2>Busca tu lugar Pet Friendly</h2>
                <a href="/buscar">
                    <img  class="lupa-img" src="assets/imagenes/lupa.png" alt="lupa">
                </a>    
            </div>  
    
        </div>
    </div>
    