
<h2>Contacto</h2>

<div class="informacion">
    <div class="noticia">
        
        <div class="somos_info">
            <img class="somos_img" src="assets/imagenes/quienessomos.jpg" alt="foto perro realizando actividades">
            
            <div class="quienessomos">
            <div class="titulo_tex">¿Quiénes somos?</div>
            <p>
            Somos Mini 🐶 y Silvina 🙋‍♀️
            <br>¿Porqué hicimos ésta página?
            <br> Con Mini disfrutamos mucho de compartir actividades juntas❤️.
            <br> Disfrutamos de tanto los paseos al aire libre como, comer algo rico.
            <br> Por eso decidimos hacer esta página con lugares Pet Friendly en Mendoza, la hermosa ciudad en la que vivimos.
            </p>
            <div class="recomendaciones">
                Si conoces algún lugar para recomendar, envianos un mail a: silvina.alverte@gmail.com ✉
            </div>
            </div>
        </div>
    </div>  
</div>