h2 {
    color: var(--durazno);
    text-align: center;
}
.busqueda {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    label {
        display: block;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    width: 90%;
    margin: 30px auto;
} 

@media (max-width: 767px) {
    .wrapper{
       display: block;
       
        }

    }