
<!-- Usamos el evento onSubmit para llamar a la función cuando el formulario se envía. -->
<form class="busqueda" [formGroup]="busquedaForm" (ngSubmit)="onSubmit()">
    <label for="termino">Término de búsqueda 🔍</label>
    <input type="search" id="termino" formControlName="termino">

    <input type="submit" value="Buscar">
</form>

 <div class="wrapper" *ngIf="mostrarFiltrados">

   <app-card
    *ngFor="let lugar of data"
        [imagen]="lugar.imagen"
        [categoria]="lugar.categoria"
        [nombre]="lugar.nombre"
        [contenido]="lugar.contenido"
        [ubicacion]="lugar.ubicacion"
    ></app-card> 
    
 </div>  
