<nav>
    <ul class="lista">
        <li class="lista-item">
            <a href="./" class="lista-item_link">Inicio</a>
        </li>
        <li class="lista-item">
            <a href="/buscar" class="lista-item_link">Busca tu lugar Pet Friendly</a>
        </li>
        <li class="lista-item">
            <a href="/recreacion" class="lista-item_link">Recreación</a>
        </li>
        <li class="lista-item">
                <a href="/gastronomía" class="lista-item_link">Gastronomía</a>
        </li>
        <li class="lista-item">
            <a href="/alojamiento" class="lista-item_link">Alojamiento</a>
        </li>
        <li class="lista-item">
            <a href="/contacto" class="lista-item_link">Contacto</a>
        </li>
    </ul>
</nav>
