// Css General.

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --durazno: orange;
    --negro: #000;
    --gris: #dcd3ff;
    --violeta:#8c52ff;
    --blanco:#fff;
}

body {
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
}
