

.cabecera {
    background-image:url("/assets/imagenes/fondo.jpg");
    text-align: center;
/* display: flex;
         justify-content:space-between;
         align-items: center; */
         padding-top: 15px;
         padding-bottom: 15px;
 }
 .logo {
     max-width: 300px;
}